  body {
  background-color: 000000;
}

  h1{
 text-align: center;
 background-color: #FF8C00;
} 

  p {
  text-align: center;
}

  h2 {
    text-align: center;
    background-color: #FF0000;
  }

  p {
    text-align: center;
  }

  h3 {
    text-align: center;
    background-color: #008080;
  }

  p {
    text-align: center;
  }

  h4 {  
   text-align: center;
  }
